<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<h2>Phishing Detector</h2>

<form method="POST">
<textarea name="email"></textarea>
<button type="submit">Check</button>
</form>

{% if prediction %}
<h3>Result: {{prediction}}</h3>
{% endif %}

<canvas id="chart"></canvas>

<script>
new Chart(document.getElementById("chart"), {
 type:"bar",
 data:{
 labels:["Naive Bayes","SVM","Random Forest"],
 datasets:[{
  label:"Accuracy",
  data:[91.8,95.4,97.2]
 }]
 }
});
</script>

</body>
</html>
